<mat-grid-list cols="1" rowHeight="5vh">
  <mat-grid-tile colspan="1" rowspan="5">
    <button mat-raised-button color="primary">New Character</button>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="5">
    <h2 class="mat-display-3">Upload existing character</h2>
  </mat-grid-tile>

  <!-- <mat-grid-tile colspan="2" rowspan="2">
    <mat-form-field appearance="legacy">
      <mat-label>Username</mat-label>
      <input matInput>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="2">
    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide" matTooltip="Toggle hide password">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <button mat-raised-button login-button class="login-button" color="primary">Login</button>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <button mat-raised-button class="register-button" color="primary">Register</button>
  </mat-grid-tile> -->
</mat-grid-list>
